/* CSS styles used in the shiny app */


@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');


.btn-testbutton {
  background-color:#FFFFFF;
  /*padding:10px;
  margin-left: 20px;*/
  height:60px;
  font-size:18px;
  font-weight:bold;
  border: 2px solid #1479FF;
  color:#1479FF;
  
}

.btn-testbutton:active {
  background-color:#1479FF;
  color:white;
  border:2px solid #FFFFFF;
  /*padding:10px;
  margin-left: 20px;*/
}

.btn-testbutton:hover {
    background-color:#1479FF;
  color:white;
  border:2px solid #FFFFFF;
  /*padding:10px;
  margin-left: 20px;*/
}

.btn-testbutton:focus {
    background-color:#1479FF;
  color:white;
  border:2px solid #FFFFFF;
  /*padding:10px;
  margin-left: 20px;*/
}


.btn-helpbutton {
  background-color:#FFFFFF;
  /*padding:10px;
  margin-left: 20px;*/
  height:60px;
  font-size:20px;
  font-weight:bold;
  border: 1px dotted #fed8b1;
  outline: none !important;
  box-shadow: none !important;
  
}

.btn-helpbutton:active {
  background-color:#FFFFFF;
  /*border: none;*/
  /*padding:10px;
  margin-left: 20px;*/
  outline: none !important;
  box-shadow: none !important;
}

.btn-helpbutton:hover {
  background-color:#FFFFFF;
  /*border: none;*/
  /*padding:10px;
  margin-left: 20px;*/
  outline: none !important;
  box-shadow: none !important;
}

.btn-helpbutton:focus {
  background-color:#FFFFFF;
  /*border: none;*/
  /*padding:10px;
  margin-left: 20px;*/
  outline: none !important;
  box-shadow: none !important;
}

.dropdown-toggle:after { content: none }


.btncolor {
  
  background-color:#1479FF;
  color:#FFFFFF;
  margin-left: 10px;
  height:60px;
  font-size:18px;
  font-weight:bold;
  /*border: 2px solid #808080;*/
  border-radius:5px;
  border:2px solid #1479FF;
  box-shadow:
  0 0.6px 1.4px rgba(20, 121, 255, 0.007),
  0 1.5px 3.3px rgba(20, 121, 255, 0.013),
  0 2.9px 6.3px rgba(20, 121, 255, 0.018),
  0 5.1px 11.2px rgba(20, 121, 255, 0.024),
  0 9.6px 20.9px rgba(20, 121, 255, 0.032),
  0 23px 50px rgba(20, 121, 255, 0.05)
                            ;
  
}

.btncolor:active {
  background-color:#FFFFFF;
  border:2px solid #1479FF;
  color:#1479FF;
  border-radius:5px;
  
}

.btncolor:hover {
  background-color:#FFFFFF;
  border:2px solid #1479FF;
  color:#1479FF;
  border-radius:5px;
  
}

.btncolor:focus {
  background-color:#FFFFFF;
  border:2px solid #1479FF;
  color:#1479FF;
  border-radius:5px;
  
}

.include {
  background-color:#c5e5a1;
  border: 1px solid black;
  
  
}

.exclude {
    background-color:#ffcccb;
  border: 1px solid black;
  
}


.remove {
    background-color:#ffcccb;
  
}

.testcontainer {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
  height: 24vh;
  padding-left: 20px;
  padding-top:15px;
}
.testcontainer div {
  height: 4.4vh;
  width: 20vw;
  display: inline-block;
  vertical-align: middle;
  font-size:2vh;
}


.totalsal {
  
  font-size: 1.6vh;
  margin-top:0.5vh;
  padding-top:0.5vh;
  
}


/* Style sidebars/well panels */

/*

.well {background-color:#ffffff; border: 0 solid #336699;

       padding: 5px; box-shadow: none; }

*/

.wellmore {background-color:#ffffff; border: 0 solid #336699;

      box-shadow: none; 
  text-align:center;
  font-weight:bold;
}

.wellclass {background-color: #ffffff;
                          border-radius: 12px;
                          -webkit-box-shadow: 2px 3px 6px 2px rgba(20, 121, 255,.1);
                          -moz-box-shadow: 2px 3px 6px 2px rgba(20, 121, 255,.1);
                          box-shadow:
                            0 0.6px 1.4px rgba(20, 121, 255, 0.007),
                            0 1.8px 4.3px rgba(20, 121, 255, 0.013),
                            0 3.9px 7.3px rgba(20, 121, 255, 0.018),
                            0 5.1px 15.2px rgba(20, 121, 255, 0.024),
                            0 11.6px 31.9px rgba(20, 121, 255, 0.032),
                            0 33px 70px rgba(20, 121, 255, 0.05)
                                                      ;
}

.optiwell {background-color: #ffffff;
                          border-radius: 12px;
                          -webkit-box-shadow: 2px 3px 6px 2px rgba(211,211,211,1);
                          -moz-box-shadow: 2px 3px 6px 2px rgba(211,211,211,1);
                                                    box-shadow:
                            0 0.6px 1.4px rgba(20, 121, 255, 0.007),
                            0 1.5px 3.3px rgba(20, 121, 255, 0.013),
                            0 2.9px 6.3px rgba(20, 121, 255, 0.018),
                            0 5.1px 11.2px rgba(20, 121, 255, 0.024),
                            0 9.6px 20.9px rgba(20, 121, 255, 0.032),
                            0 23px 50px rgba(20, 121, 255, 0.05)
                                                      ;
                          margin-left: -16px;
                          margin-right: -45px;
}

/* Background colour of header navBar */                        


/*
.navbar-brand {background-color: #262626}
*/


.navbar  { border: 0; /*padding: 4px 0px;*/
                              min-height:55px !important;
                               background-color: #FFFFFF;
                               font-size: 22px !important;
                               /*color: blue;*/
                               /*background-color:#1479FF !important;*/
                               color:#1479FF;
                               /*font-weight:bold;*/
                               line-height: 55px;
                               border-bottom:2px solid #1279FF;
                               /*border-radius:5px;*/
                               text-align:center;
}

.navbar-brand {
  font-size: 24px;
  
}

.odd {
    background-color: #f3f8ff;;
}

.navbar-default .navbar-brand {
                         color: #1479FF;}

/*li a {color: #1479FF;}*/
                               
 /* font size and border*/



.dropdown-menu { font-size: 20px;} /* dropdown menu within navBar*/



.container-fluid {padding-right: 0}

                      

/*Text size and line height. Padding needed for footer */


span.tooltip {
      position: absolute;
      width: 100px;
      height: 20px;
      line-height: 20px;
      padding: 10px;
      font-size: 14px;
      text-align: center;
      color: rgb(113, 157, 171);
      background: rgb(255, 255, 255);
      border: 4px solid rgb(255, 255, 255);
      border-radius: 5px;
      text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
      box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px 0px;
}

span.tooltip:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-width: 10px;
      border-style: solid;
      border-color: #FFFFFF transparent transparent transparent;
      top: 44px;
      left: 50px;
}

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}

[data-title]:after {
    content: attr(data-title);
    background-color: #fed8b1;
    color: black;
    font-size: 100%;
    position: absolute;
    width:250px;
    padding: 1px 5px 2px 5px;
    bottom: -2.5em;
      border: 4px solid rgb(255, 255, 255);
      border-radius: 5px;
      text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
      box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px 0px;
    left: 100%;
    /*white-space: nowrap;*/
    /*box-shadow: 1px 1px 3px #222222;*/
    opacity: 0;
    /*border: 1px solid #111111;*/
    z-index: 99999;
    visibility: hidden;
}

[data-title] {
    position: relative;
}





body { font-size: 2vh; line-height: 1.4; padding-bottom:10px; font-family: 'Source Sans Pro', sans-serif;background-color:#f3f8ff;}

/*

.checkbox label, .radio label, .checkbox-bs label, .radio-bs label

                          { line-height: 1.6 }

                          

.radio-inline {line-height: 2}

*/